
body {
	font-family: "Times New Roman", Times, serif;
	line-height:1;
}

#bookmarklet .button {
	height:22px;
	line-height:20px;
}

#container{
	margin-top:20px;	
}

#links ul {
	list-style-type: none;
}

.editLink {
	font-size: 8px;
	color: green;
	padding-left: 10px;
}

.last_modified {
	font-size: 8px;
	/*font-style: italic;*/
	padding-left: 10px;
}

.link_thumb {
	height:75px;
}

#logo a {
	text-decoration:none;
	color:black;
	font-size:.65rem;
}

#pagination ul {
	list-style-type: none;
}

#pagination ul li {
	display:inline;
}

.tight {
	margin-bottom:0rem;
}

/* Skeleton Utilities */
/* Float either direction */
.u-pull-right {
  float: right; 
}

.u-pull-left {
  float: left; 
}
