<html>
<head>
	<title>linkPad3 - edit</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>


<body>
    <div id="logo">
        <a href="./">
        <pre>
██╗     ██╗███╗   ██╗██╗  ██╗██████╗  █████╗ ██████╗      ██████╗ 
██║     ██║████╗  ██║██║ ██╔╝██╔══██╗██╔══██╗██╔══██╗     ╚════██╗
██║     ██║██╔██╗ ██║█████╔╝ ██████╔╝███████║██║  ██║█████╗█████╔╝
██║     ██║██║╚██╗██║██╔═██╗ ██╔═══╝ ██╔══██║██║  ██║╚════╝╚═══██╗
███████╗██║██║ ╚████║██║  ██╗██║     ██║  ██║██████╔╝     ██████╔╝
╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚═════╝      ╚═════╝ 
        </pre>      
        </a>
    </div>  

    <div id="edit">    
        <p>You have added, <em>"{{add_url}}"</em>, id: <em>{{doc_id}}</em> - <a href="/edit?id={{doc_id}}">click to edit</a>.</p>
    </div>      

</body>