<html>
<head>
    <title>linkPad3 - add</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/skeleton/css/normalize.css">
    <link rel="stylesheet" href="static/skeleton/css/skeleton.css">

    <link rel="stylesheet" type="text/css" href="static/css/main.css">

    <!-- JS -->
    <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>


</head>


<body>
    <div id="container" class="container">
        <div class="row tight">
            <div class="twelve columns">

                <div id="logo">
                    <a href="./">
                    <pre>
██╗     ██╗███╗   ██╗██╗  ██╗██████╗  █████╗ ██████╗      ██████╗ 
██║     ██║████╗  ██║██║ ██╔╝██╔══██╗██╔══██╗██╔══██╗     ╚════██╗
██║     ██║██╔██╗ ██║█████╔╝ ██████╔╝███████║██║  ██║█████╗█████╔╝
██║     ██║██║╚██╗██║██╔═██╗ ██╔═══╝ ██╔══██║██║  ██║╚════╝╚═══██╗
███████╗██║██║ ╚████║██║  ██╗██║     ██║  ██║██████╔╝     ██████╔╝
╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚═════╝      ╚═════╝ 
                    </pre>      
                    </a>
                </div>  
            </div>
        </div> 

        <!-- synchronous -->
        <!-- <div class="row tight">
            <div class="twelve columns">

                <div id="edit">    
                    <p>You have added, <em>"{{add_url}}"</em>, id: <em>{{doc_id}}</em></p>
                    <p><a class="button" href="edit?id={{doc_id}}">click to edit</a></p>
                </div>   

            </div>
        </div> -->   

        <script type="text/javascript">
            $.ajax({
                url: "/{{urlprefix}}/add_background?url={{add_url}}",
                dataType:"json"
                }).done(function(response) {
                    console.log(response);
                    // $(".msg").html('<span class="success_color">Finis.</span>');
                    $(".working_color").css('visibility','hidden');
                    $(".success_color").css('visibility','visible');
                    $(".on_success a").attr("href","edit?id="+response.id)
                    $(".on_success").show();
            });            
        </script>


        <!-- asynch -->
        <div class="row tight">
            <div class="twelve columns">

                <div id="edit">    
                    <p>You are adding <em>"{{add_url}}"</em></p>                    
                </div>   

                <div id="status">
                    <p class="msg"><span class="working_color">Working...</span><span style="visibility:hidden;" class="success_color">...finis.</span></p>
                    <p class="on_success"><a class="button" href="#">click to edit</a></p>
                </div>

            </div>
        </div>

</body>