<html>
<head>
	<title>linkPad3 - edit</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>


<body>
    <div id="logo">
        <a href="./">
        <pre>
██╗     ██╗███╗   ██╗██╗  ██╗██████╗  █████╗ ██████╗      ██████╗ 
██║     ██║████╗  ██║██║ ██╔╝██╔══██╗██╔══██╗██╔══██╗     ╚════██╗
██║     ██║██╔██╗ ██║█████╔╝ ██████╔╝███████║██║  ██║█████╗█████╔╝
██║     ██║██║╚██╗██║██╔═██╗ ██╔═══╝ ██╔══██║██║  ██║╚════╝╚═══██╗
███████╗██║██║ ╚████║██║  ██╗██║     ██║  ██║██████╔╝     ██████╔╝
╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚═════╝      ╚═════╝ 
        </pre>      
        </a>
    </div>  

    <div>
        <p>You have selected, <em>"{{doc.linkTitle}}"</em>, <em>{{doc.id}}</em></p>
    </div>

    <div id="edit">
        <form action="/edit" method="POST">
            <label><strong>link title:</strong></label>
            <input size="120" type="text" name="linkTitle" value="{{doc.linkTitle}}"><br>
            <label><strong>link URL:</strong></label>
            <input size="120" type="text" name="linkURL" value="{{doc.linkURL}}"><br>
            <input type="hidden" name="id" value="{{doc.id}}">
            <button type="submit">submit</button>
        </form>
    </div>      

    <div id="delete">
        <a href="/delete?id={{doc.id}}">delete!?</a>
    </div>

</body>