<html>
<head>
    <title>linkPad3 - edit</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/skeleton/css/normalize.css">
    <link rel="stylesheet" href="static/skeleton/css/skeleton.css">

    <link rel="stylesheet" type="text/css" href="static/css/main.css">

    <!-- JS -->
    <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>


</head>

<body>
    <div id="container" class="container">
        <div class="row tight">
            <div class="twelve columns">
                <div id="logo">
                    <a href="./">
                    <pre>
██╗     ██╗███╗   ██╗██╗  ██╗██████╗  █████╗ ██████╗      ██████╗ 
██║     ██║████╗  ██║██║ ██╔╝██╔══██╗██╔══██╗██╔══██╗     ╚════██╗
██║     ██║██╔██╗ ██║█████╔╝ ██████╔╝███████║██║  ██║█████╗█████╔╝
██║     ██║██║╚██╗██║██╔═██╗ ██╔═══╝ ██╔══██║██║  ██║╚════╝╚═══██╗
███████╗██║██║ ╚████║██║  ██╗██║     ██║  ██║██████╔╝     ██████╔╝
╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚═════╝      ╚═════╝ 
                    </pre>      
                    </a>
                </div>  
            </div>
        </div>

        <div class="row tight">
            <div class="twelve columns">

                <div>
                    <p>You have selected, <em>"{{doc.linkTitle}}"</em>, <em>{{doc.id}}</em></p>
                </div>

                <div id="edit">
                    <form action="edit" method="POST">
                        <label><strong>Link Title:</strong></label>
                        <input class="u-full-width" type="text" name="linkTitle" value="{{doc.linkTitle}}"><br>
                        <label><strong>Link URL:</strong></label>
                        <input class="u-full-width" type="text" name="linkURL" value="{{doc.linkURL}}"><br>
                        <label><strong>Comments:</strong></label>
                        <textarea class="u-full-width" name="comments">{{doc.comments}}</textarea><br>                        
                        <input type="hidden" name="id" value="{{doc.id}}">
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row right">

            <div class="six columns">
                <div id="updateCrawl">
                    <a id="updateCrawl_button" class="button" href="/{{urlprefix}}/updateCrawl?id={{doc.id}}" onclick="$('#updateCrawl_button').html('updating...');">update thumb & HTML</a>
                </div>
                <div id="delete">
                    <a class="button" href="/{{urlprefix}}/delete?id={{doc.id}}">delete!?</a>
                </div>
            </div>
            <div class="six columns">
                <img class="link_thumb u-max-full-width" src="/lp3assets/imageSource/{{doc.id}}.png"/>
                <br>
                <br>
                <p style="text-align:center;"><a class="button" href="/{{urlprefix}}/archive/{{doc.id}}">View indexed HTML</a></p>
            </div>

        </div>
        
    </div>

</body>