<html>
<head>
	<title>linkPad3 - edit</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>


<body>
    <h2><a href="/">linkPad3</a></h2>
    
        <p>You have selected link <em>2661201562765ba798fd5baad3c83c93</em> to edit.</p>                

        <form action="/edit" method="POST">
            <label><strong>link title:</strong></label>
            <input size="120" type="text" name="linkTitle" value="solrCores/schema.xml at master · WSULib/solrCores · GitHub"><br>
            <label><strong>link URL:</strong></label>
            <input size="120" type="text" name="linkURL" value="https://github.com/WSULib/solrCores/blob/master/search/conf/schema.xml"><br>
            <input type="hidden" name="id" value="2661201562765ba798fd5baad3c83c93">
            <button type="submit">submit</button>
        </form>         

</body>